<table class="footer">
  <th>
    <a routerLink="/about">about</a>

    <a routerLink="/impressum">impressum</a>

    <a routerLink="/kontakt">kontakt</a>

  </th>

  <th class="center">
    coypright at IGEM Darmstadt
  </th>

  <th class="end">
    <a href="https://www.facebook.com/iGEMDarmstadt/" target="_blank"><img
      src="assets/images/facebook.png" alt="facebook"/></a>
    <a href="http://www.twitter.com/iGEM_Darmstadt" target="_blank"><img
      src="assets/images/twitter.jpeg" alt="twitter"/></a>
    <a href="https://github.com/iGEMDarmstadt" target="_blank"><img
      src="assets/images/github.png" alt="github"/></a>
  </th>
</table>
